{% extends 'base.html' %}

 {% block content %}

  <h2 style = "text-align: center;">My To Do List</h2>

  <h5 id="penyemangat" style="text-align: center;">Let's finish the task, {{username}}!</h5>

  <div class="container">
    {% for task in todolist %}
      <div class="card">
        <div class="card-header">
          {% if task.is_finished %}
              <td>Selesai</td>
          {% else %}
              <td>Belum Selesai</td>
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text"><b>{{task.date}}</b></p>
          <p class="card-text">{{task.description}}</p>
          <a class="btn btn-primary" href="{% url 'todolist:update-task' task.id %}">Update</a>
          <a class="btn btn-primary" href="{% url 'todolist:delete-task' task.id %}">Hapus</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="container">
    <br><p>Login terakhir: {{last_login}}</p>
    <br>
    <button class="btn btn-warning"><a href="{% url 'todolist:create-task' %}">Tambah Task Baru</a></button>
    <button class="btn btn-danger"><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </div>

 {% endblock content %}
